@import '.config/wofi/colors.css';
@import '.config/wofi/colors-rgba.css';

* {
    font-family: FantasqueSansM Nerd Font;
    color: @foreground;
    font-size: 12px;
}

#outer-box {
    border: 2px solid @foreground;
    border-radius: 3px;
    padding: 10px 10px;
}

#window {
    background-color: @background-rgba;
}

#input {
    color: @foreground;
    border: 2px solid @foreground;
    background-color: @color5;
    border-radius: 3px;
    margin-bottom: 5px;
}

#img {
    margin-right: 5px;
}

#entry:selected {
    border: 2px solid @foreground;
    border-radius: 3px;
    background-color: @color5;
}
