layout {
    focus-ring {
        active-color "#ECE7E3"
        inactive-color "#4A5A61"
        urgent-color "#D66102"
    }

    border {
        active-color "#ECE7E3"
        inactive-color "#4A5A61"
        urgent-color "#D66102"
    }

    shadow {
      color "#1A1514BF"
    }
}

