* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Fantasque Sans Mono;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(40.23952095808386,65.49019607843137,70,0.75);
    color: #E5C480;
    transition-property: background-color;
    transition-duration: .5s; 
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#window,
#workspaces button
{
    padding: 0 10px;
    margin: 3px 0;
    color: #E5C480;
    border-radius: 5px;
}

#clock,
#window,
#workspaces button,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#temperature,
#tray
{
    background-color: #2F364F;
    color: #E5C480;
}

#network.disconnected {
    background-color: #f53c3c;
    color: #E5C480;
}

