@import 'colors.css';
@import 'colors-rgba.css';

* {
    font-family: FontAwesome, Fantasque Sans Mono;
    font-size: 14px;
}

window#waybar {
    background-color: @background-rgba;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @foreground;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

#workspaces button.active {
    font-weight: bold;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#window,
#tray {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 0 10px;
    color: @foreground;
    background-color: @color2;
    border: 2px solid @color5;
}

#workspaces {
    border-radius: 5px;
    background-color: @color2;
    margin-top: 5px;
    margin-bottom: 5px;
    border-color: @color5;
    border: 2px solid @color5;
}

.modules-left > widget:first-child > #tray {
    margin-left: 5px;
}

.modules-right > widget:last-child > #battery {
    margin-right: 5px;
}
