* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Fantasque Sans Mono;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(15, 53, 64, 0.75);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s; 
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode
{
    padding: 0 10px;
    margin: 3px 0;
    color: #B7D0D3;
    border-radius: 5px;
}

#clock {
    background-color: #005950;
    color: #B7D0D3;
}

#battery {
    background-color: #005950;
    color: #B7D0D3;
}

#cpu {
    background-color: #005950;
    color: #B7D0D3;
}

#memory {
    background-color: #005950;
    color: #B7D0D3;
}

#disk {
    background-color: #005950;
    color: #B7D0D3;
}

#backlight {
    background-color: #005950;
    color: #B7D0D3;
}

#network {
    background-color: #005950;
    color: #B7D0D3;
}

#network.disconnected {
    background-color: #f53c3c;
    color: #B7D0D3;
}

#pulseaudio {
    background-color: #005950;
    color: #B7D0D3;
}

#temperature {
    background-color: #005950;
    color: #B7D0D3;
}

#tray {
    background-color: #005950;
    color: #B7D0D3;
}
