* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Fantasque Sans Mono;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(^r@V#hsl>l(70)^,0.75);
    color: ^r@V>l(70)^;
    transition-property: background-color;
    transition-duration: .5s; 
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray,
#mode,
#window,
#workspaces button
{
    padding: 0 10px;
    margin: 3px 0;
    color: ^r@V>l(70)^;
    border-radius: 5px;
}

#clock,
#window,
#workspaces button,
#battery,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#temperature,
#tray
{
    background-color: ^r@DM^;
    color: ^r@V>l(70)^;
}

#network.disconnected {
    background-color: #f53c3c;
    color: ^r@V>l(70)^;
}

